*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header section*/
header{
    background-color: #1F2937;
}

header nav{
    margin: 0 10% 2% 10%;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
}

header nav ul{
    list-style: none;
}

header nav ul li {
    padding: 0 10px;
}


header nav ul li a{
    color: #A4A9B1;
    font-size: 18px;
    text-decoration: none;
}

#header-logo{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

#header-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#header-secondary-text{
    color: #A4A9B1;
    font-size: 18px;
}  


#navlink1{
    margin-left: auto;
}

header img{
    width: 50%;
}

button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 30px;
}

#header-main-section{
    margin: 0 10%;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

 #text-container{
    margin: auto 0;

}
#img-container{
    display: flex;
    justify-content:flex-end;
} 

/*Random Info section*/
#random-info-section{
    margin-top: 20px;
}

#random-info-section h2{
    text-align: center;
}

#random-info-container{
    display: flex;
    justify-content: center;
}

.random-info-element{
    height: 250px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.random-info-element img{
    height: 150px;
    width: 150px;
    border: 4px solid #3b82f6;
    border-radius: 10px;
}