*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header section*/
header{
    background-color: #1F2937;
}

header nav{
    margin: 0 10% 2% 10%;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    color: #A4A9B1;
    font-size: 18px;
    text-decoration: none;
}

.nav-right{
    padding: 10px;
}

#header-logo{
    margin-right: auto;
    color: #F9FAF8 ;
    font-size: 24px;
    font-weight: bold;
}

#header-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#header-secondary-text{
    color: #A4A9B1;
    font-size: 18px;
}  


#navlink1{
    margin-left: auto;
}

header img{
    width: 70%;
    height: 100%;
}

button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 30px;
}

#header-main-section{
    margin: 0 10%;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

 #text-container{
    margin: auto 0;

}
#img-container{
    display: flex;
    justify-content:flex-end;
} 


/*Random Info section*/
#random-info-section{
    padding: 3% 0 8% 0;

}

#random-info-section h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

#random-info-container{
    display: flex;
    justify-content: center;
}

.random-info-element{
    height: 250px;
    width: 200px;
    margin: 50px 20px 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
}

.random-info-element img{
    height: 150px;
    width: 150px;
    border: 4px solid #3b82f6;
    border-radius: 10px;
}



/*Quote section*/
#quote-section{
    background-color: #E5E7EB;
}

#quote-container{
    margin: 0 15%;
    padding: 6% 0;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

#quote-container span{
    margin: 50px 35px 0 0;
    float: right;
    font-size: 20px;    
    font-weight: bold;
    font-style: normal;
}



/*Sign Up section*/
#sign-up-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-container{
    width: 70%;
    height: 40%;
    padding: 5px 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
}

#sign-up-container #sign-up-button button{
    margin-left: 20px;
    border: 1px solid #F9FAF8;
}


/*Footer section*/
footer{
    padding: 30px;
    background-color: #1F2937;
    color: white;
    text-align: center;
}


@media only screen and (max-width: 1000px) {
    header #img-container img{
        width: 90%;
        height: 80%;
    }
    
    #header-main-text{
        font-size: 48px;
        font-weight: 800;
    }
    
    header button{
        font-size: 12px;
    }
}


@media only screen and (max-width: 765px) {
    /*Header section*/
    #header-main-section{
        margin: 5% 20%;
        padding-bottom: 30px;
        text-align: center;
    }
    
    #header-main-text{
        font-size: 40px;
        
    }    

    #img-container{
        display: none;
    }
    

    /*Random Info section*/
    #random-info-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }


    #random-element-1{
        grid-row: 1;
        grid-column: 2;
    }

    #random-element-2{
        grid-row: 1;
        grid-column: 3;
    }

    #random-element-3{
        grid-row: 2;
        grid-column: 2;
    }

    #random-element-4{
        grid-row: 2;
        grid-column: 3;
    }


    /*Quote section*/
    #quote-container{
        margin: 0 10%;
        padding: 15% 0;
        font-size: 25px;
    }

    #quote-container span{
        margin: 50px 35px 20px 0;
        float: right;
        font-size: 15px;    
    }

    /*Sign up section*/
    #sign-up-section{
        width: 100%;
    }

    #sign-up-section #sign-up-container{
        width: 80%;
    }
}


@media only screen and (max-width: 450px) {
    /*Quote section*/
    #quote-container{
        margin: 0 5%;
        padding: 10% 0;
        font-size: 25px;
    }

    #quote-container span{
        margin: 50px 35px 0 0;
        float: right;
        font-size: 15px;    
    }
  
    /*Random Info section*/
    #random-info-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    #random-element-1{
        grid-row: 1;
        grid-column: 1;
    }
    
    #random-element-2{
        grid-row: 2;    
        grid-column: 1;
    }
    
    #random-element-3{
        grid-row: 3;
        grid-column: 1;
    }
    
    #random-element-4{
        grid-row: 4;
        grid-column: 1;
    }
}